<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tdtu.mobile_dev_assignment.lc_assignment">

    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app"/>
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LC_Assignment">
        <activity
            android:name=".Screen.ItemActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.HomeScreen"
            android:exported="false" />
        <activity
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            tools:node="remove" />
        <activity
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            tools:node="remove" />

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" />
        </service>

        <activity
            android:name=".Screen.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Screen.RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".Screen.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".Screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>